[Unit]
Description=Pi Config
After=syslog.target network.target pi-config-api.service

[Service]
ExecStart=/usr/bin/node run start
WorkingDirectory={{ install_path }}
Restart=on-failure
RestartSec=30
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pi-config
User=root
Group=root

[Install]
WantedBy=multi-user.target
